@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*=== === ===theme colors=== === ===*/
  --ligth-color: #d6d6d6;
  --white-color: #fff;
  --yellow-color: #ffe459;
  --link-color: #f43b86;
  --dark-purple: #3d087b;
  --text-color: #11052c;
  --purple-color: #6c63ff;
  --box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.16);
  --box-shadow-inner: 3px 3px 8px rgba(0, 0, 0, 0.16) inset;

  /*=== === ===spacing=== === ===*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-5: 5rem;

  /*=== === ===Font size and style=== === ===*/
  --fs-20: 20px;
  --fs-30: 30px;
  --fs-35: 35px;
  --fs-50: 50px;
  --fs-60: 60px;
  --fs-80: 80px;

  /*=== === ===Font weight=== === ===*/
  --fw-300: 300;
  --fw-500: 500;
  --fw-semi-bold: 600;
}

body,
html {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

/*=== === === layout === === ===*/
a {
  text-decoration: none;
}

.main {
  margin: 0 var(--mb-5);
  padding: 0 0 var(--mb-5) 0;
}

.section {
  min-height: 100vh;
  position: relative;
  top: 9vh;
}

.grid {
  display: grid;
  -webkit-column-gap: var(--mb-0-5);
  -moz-column-gap: var(--mb-0-5);
  column-gap: var(--mb-0-5);
  row-gap: var(--mb-2-5);
}

p,
h1,
h3 {
  padding: var(--mb-1);
}

.btn {
  grid-template-columns: repeat(2, 1fr);
  width: 480px;
  margin-top: var(--mb-2);
}

.button {
  height: 54px;
  width: 180px;
  border-radius: 50px;
  background: #fff;
  border: none;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  font-size: var(--fs-20);
  text-decoration: none;
  color: var(--dark-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: var(--box-shadow-inner);
  color: var(--link-color);
}

.col {
  min-height: 90vh;
}

.title {
  color: var(--purple-color);
  font-weight: var(--fw-500);
  font-size: var(--fs-30);
}

.active {
  background-color: #fff;
  padding: 10px;
  box-shadow: var(--box-shadow-inner);
  color: var(--link-color);
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer_section {
  min-height: 60vh;
  background: var(--link-color);
  position: relative;
  bottom: 0;
  z-index: 100;
  width: 100%;
  margin-top: 120px;
}

.footer {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  height: 60vh;
}

.footer_link {
  margin-bottom: var(--mb-0-75);
  margin-left: var(--mb-0-75);
  font-size: var(--fs-20);
}

.footer_link a {
  color: var(--ligth-color);
}

.footer h3 {
  color: var(--white-color);
  font-size: var(--fs-35);
}

.footer .copyright {
  margin-top: var(--mb-2-5);
  color: #fff;
  font-size: 15px;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;
  top: 5vh;
  background: linear-gradient(
    to top left,
    var(--purple-color),
    var(--link-color)
  );
  padding: 0 var(--mb-1-5) 0 var(--mb-1-5);
  font-size: var(--fs-30);
}

/*=== === === Navigation bar === === ===*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  background: var(--white-color);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  width: 50px;
}

.menu_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-20);
  width: 33%;
}

li a {
  padding: 10px;
  width: 100px;
}

/*=== === === Home section === === ===*/
.home_section {
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
}

.home_section p {
  font-size: var(--fs-30);
  color: var(--dark-purple);
}

.home_section p:nth-child(2) {
  font-size: var(--fs-50);
  font-weight: var(--fw-300);
}

.home_section h1 {
  font-size: var(--fs-80);
  color: var(--dark-purple);
}

.home_section .animation {
  width: 677px;
  height: 374px;
  background: linear-gradient(
    to top left,
    var(--dark-purple),
    var(--link-color)
  );
  position: relative;
  top: 80px;
  border-radius: 10px;
}

.stroke {
  position: absolute;
  z-index: -1;
  top: 270px;
  left: 20px;
}

.stroke:nth-child(2) {
  position: absolute;
  left: 270px;
}

.featured_tools {
  min-height: 90vh;
  margin-top: var(--mb-1-5);
}

.featured_tools .main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--link-color);
}

.featured_tools .tools_link {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 380px;
}

.featured_tools .icons {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: var(--box-shadow-inner);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  height: 323px;
  width: 344px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: var(--mb-1-5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.cards:hover {
  box-shadow: 2px 0 25px rgba(0, 0, 0, 0.2);
}

/*=== === === Blogs section === === ===*/
.blogs {
  position: relative;
  top: 8vh;
  margin-top: var(--mb-2-5);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.blogs .blog_img {
  width: 150px;
}

/*=== === === Text Utility === === ===*/
.input_fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 15vh;
}

.btn_utils {
  grid-template-columns: repeat(4, 1fr);
  margin-top: var(--mb-1-5);
}

textarea {
  resize: none;
  width: 680px;
  border: none;
  font-family: inherit;
  border-radius: 10px;
  padding: var(--mb-1-5);
  box-shadow: var(--box-shadow-inner);
  outline: none;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.textarea {
  position: relative;
  top: 0;
  left: 0;
}

.textarea label {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: var(--ligth-color);
  background: #fff;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease;
}

.textarea_input:focus + label {
  top: -1.8rem;
  font-size: var(--fs-20);
  color: var(--link-color);
}

.textarea_input:not(:placeholder-shown).textarea_input:not(:focus) + label {
  top: -1.8rem;
  font-size: var(--fs-20);
  color: var(--link-color);
}

/*=== === === Login section === === ===*/
.login_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_section > .cards {
  width: 650px;
  height: 540px;
  display: block;
}

.form_group {
  position: relative;
  top: 0;
  left: 0;
  margin-top: var(--mb-3);
  width: 100%;
}

.form_input {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 30px;
  box-shadow: var(--box-shadow-inner);
  color: var(--purple-color);
  padding: 0 25px;
  outline: none;
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-size: 15px;
}

.form_group .form_label {
  position: absolute;
  top: 0.8rem;
  left: 11rem;
  display: block;
  margin: 0 auto 0 auto;
  color: var(--ligth-color);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form_input:focus + .form_label {
  top: -1.5rem;
  color: var(--link-color);
}

.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label {
  top: -1.5rem;
  color: var(--link-color);
}

.form_group .login_btn {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.social {
  grid-template-columns: repeat(3, 1fr);
  margin: var(--mb-1) auto;
  justify-items: center;
  width: 50%;
}

.social_media {
  background: none;
  border: none;
  height: 50px;
  width: 50px;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
}

.stroke_line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--mb-1);
}

.stroke_line hr {
  width: 25%;
}

.register {
  display: flex;
  justify-content: center;
}

.register_cards {
  height: 640px !important;
}
